*{
	box-sizing: border-box;
	margin: 0px;
	font-family: sans-serif;
}
.navbar{
	font-size: 20px;
	color: darkcyan;
	font-weight: bolder;
}
.logo{
	font-size: 25px;
	font-family: Elephant;
	font-variant: small-caps;
	color: black;
}
.section-menu{
	position: relative;
	top: 100%;
}
.section-menu div 
{
     height: 400px;
     width: 100%;
     border: 2px solid red;

}
.navbar{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3;
	width: 100%;
}
html{
	scroll-behavior: smooth;
}